{% import 'macros.html' as macro%}
<html>
<head>
    <meta charset="utf-8" />
    {% if message %}
    <title> {{ message }}</title>
    {% else %}
    <title> Welcome to the best news  Website</title>
    {% endif %}
</head>
<body>
        
            <h3> GENERAL NEWS</h3>
            {{ macro.displayNewsList(general)}}
           <h3> TECHNOLOGY NEWS </h3>
           {{ macro.displayNewsList(technology)}}
           <h3> HEALTH NEWS</h3>
           {{ macro.displayNewsList(health)}}
           <h3> SPORTS NEWS</h3>
           {{ macro.displayNewsList(sports)}}
           <h3> BUSINESS NEWS</h3>
           {{ macro.displayNewsList(business)}}
    
</body>
</html>