{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block content %}

    <div>
            <ul>
                    <h3> GENERAL NEWS</h3>
            
                {{ macro.displayNewsList(general)}}
            </ul>
    
    </div>
    <div>
            <ul>
                    <h3> HEALTH NEWS</h3>
            
                {{ macro.displayNewsList(health)}}
            </ul>
    
    </div>
    <div>
            <ul>
                    <h3> TECHNOLOGY NEWS</h3>
            
                {{ macro.displayNewsList(technology)}}
            </ul>
    
    </div>
    <div>
            <ul>
                <h3> BUSINESS NEWS</h3>
            
                {{ macro.displayNewsList(business)}}
            </ul>
    
    </div>
{% endblock%}
    
